<%- include('partials/header'); -%>

<div style="display:flex; flex-direction: row;" class="">
  <h1 style="margin-left:30px;">Groups</h1>

  <div style="display:flex; flex-direction: row; align-items:center;  justify-content:center;width: 100%;" class="">
    <a style="font-size:30px;background-color:#64CCC5;padding:10px;" href="/groupForm">New Group</a>
  </div>

</div>


<% const colors = ['#E6E9FE', '#FFE5F8', '#E5F8FF', '#ffffff', '#FDF7C3','#FFE4CC']; %>
<%let j =0;%>


<div class="group-names">
  <%for(const group of groupInfo){%>

      <a class="header-nav" href="/groupinfo/<%=group.groupId._id%>">
        <div class="group-name" style="background-color: <%= colors[j % colors.length] %>;">
          <p><%= group.groupName %></p>
        </div>
      </a>

      <%j++;%>


  <%}%>

</div>




 <%- include('partials/footer'); -%>
