<%- include('partials/header'); -%>


<h1 style="margin-left:30px;">Active Tasks</h1>

<div class="dashboard">

<% const colors = ['#E6E9FE', '#FFE5F8', '#E5F8FF', '#ffffff', '#FDF7C3','#FFE4CC']; %>
<% const progressColors = ['#314CF9', '#FF00BA', '#00BBFF', '#7C96AB', '#F8DE22','#E48586']; %>
<%let j =0;%>


<%for(const [groupId,groupData] of groupwiseTasks.entries()){%>

<a href="/groups/groupinfo/<%=groupData.groupId%>">

  <div class="one-group-at-home" style="background-color: <%= colors[j % colors.length] %>;">
  <div class="group-name-home">
      <h2 style="word-break: break-word;"> <%= groupData.groupName%> </h2>
      <div class="today-progress">
        <div class="progress-bar-container">
            <div class="progress-bar" style="width:<%=groupData.score%>%;
              background-color: <%= progressColors[j % colors.length] %>;"></div>
        </div>
        <div class="progress-number">
            <p><%=groupData.score%>%</p>
        </div>
      </div>
  </div>
</a>

  <hr style="width:80%;text-align:left;margin:5px;margin-left : 0">

  <%let i =0;%>
  <%for(const task of groupData.tasks){%>
    <%if(i<4){%>
      <form class="list-form" action="/list/updateTaskStatus" method="post">
        <div class="one-task <%= task.status === 'complete' ? 'task-complete' : 'task-incomplete' %>">
          <input type="checkbox"
          onChange="submit()" <%= task.status === 'complete' ? 'checked' : '' %>>
          <input type="hidden" name="requestOrigin" value="requestFromHome">
          <input type="hidden" name="checkBox" value="<%=task._id%>_<%=groupId%>">
          <p><%=task.name%></p>
        </div>
      </form>
    <%}else{%>
      <div style="display: flex; justify-content: flex-end; width: 100%;">
        <a style="color: #F11A7B;" href="/groups/groupinfo/<%=groupData.groupId%>">++more</a>
      </div>

      <%break;%>
    <%}%>

    <%i++;%>
  <%}%>

  </div>
<%j++;%>

<%}%>

</div>



<%- include('partials/footer'); -%>
